body{
    font-family: 'Bebas Neue', cursive;
      
}
p{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Roboto', sans-serif;
    color: #3E3E3E;
}
h2{
    font-size: 40px;
    color: #363958;
}
.orange{
    color: tomato;
}
.half-width{
    width: 40%;
    float: left;
    margin-left:3%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.first-sec{
    height: 400px;
    margin-bottom: 20px;
    margin-top: 20px;
}
.button{
    background-color: tomato;
    padding: 10px 25px;
    color: white;
    text-decoration: none;
    border-radius: 5px;  
}

.third-sec{
    background-color: #E5E5E5;
    width: 100%; 
    padding :50px;
    margin: none;
    
    height: 600px;
}
.third-sec p{
    font-size: medium;
}
section{
    height: 600px;
    padding-bottom: 100px;

}
#working-project{
    text-align: center;
}
.part-4  {
    border-radius: 10px;
    height:500px;
    width: 27%;
    float: left;
    margin-left:3%;
    padding-left: 2%;
    background-color: white;
    
}

.part-4 img{
    margin-top: 5px;
    width: 100%;
}
  
.last{
    margin-top:100px ;
    background-image: url("images/pic03.png");
    background-size: 80% 30%;
    background-repeat: no-repeat;
    background-position: center;
    border: mediumvioletred solid ;
}
.butm-left{
    position: absolute;
    padding-top: 240px;
    padding-left: 20%;
    font-size: 50px;
    color: #E5E5E5;
}
.butm-right{
    position: absolute;
    padding-top: 320px;
    padding-left: 74%;
}
    
